@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: #2a2a72;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form{
    width: 100%;
    max-width: 700px;
    margin-right: 40px;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: white;
    border: none;
    border-radius: 10px;
    color:black;
    padding: 1rem;
    margin: 1rem;
    font-family: inherit;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(0,0,0,0.1);
}

.user-form input:focus{
    outline: none;
}

.user-form input::placeholder{
    color:black;
}

.card {
    max-width: 800px;
    width: 500px;
    height: 450px;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}
.avatar{
    border-radius: 50%;
    border: 10px solid #2a2a72;
    height: 150px;
    width: 150px;
}

.user-info {
    color: black;
    margin-left: 2rem;
    height: 150px;
    width: 250px;
  }
  
  .user-info h2 {
    margin-top: 0;
    font-weight: 800;
    font-size: xx-large;
  }
  
  .user-info p {
    margin-top: 0;
    font-size: 18px;
    font-style: oblique;
  }
  
  .user-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .user-info ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
    padding-top: 40px;;
    position: relative;
    left: -150px;
    font-weight: bold;
    
  }
  
  .user-info ul li span {
    font-weight: bold;
    color: black;
    margin-left: 5px;
    
  }
  

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #212a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media (max-width:500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    
    .user-form{
        max-width: 400px;
    }
}